<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geely.voiceprobe"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:label="Voice Probe" android:allowBackup="false">
        <activity android:name=".VoiceProbeActivity" android:exported="true"
            android:label="Voice Probe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".AudioProbeService" android:exported="false" />
    </application>
</manifest>
